TZ=Africa/Nairobi

# jellyfin
JELLYFIN_PORT=9096
JELLYFIN_CACHE="/path/to/jellyfin/cache"
JELLYFIN_CONFIG="/path/to/jellyfin/config"
JELLYFIN_MEDIA="/path/to/jellyfin/media"

# dozzle
DOZZLE_PORT=9080

# drawio
DRAWIO_PORT=9081

#komga
KOMGA_PORT=25600
KOMGA_CONFIG="/path/to/komga/config"
KOMGA_DATA="/path/to/komga/books"