TZ=Africa/Nairobi
TAILSCALE_IP=


# jellyfin
JELLYFIN_PORT=9096
JELLYFIN_CACHE=
JELLYFIN_CONFIG=
JELLYFIN_MEDIA=

# dozzle
DOZZLE_PORT=9080

# beszel
BESZEL_DATA=
BESZEL_PORT=8090

# beszel agent
BESZEL_LISTEN='45876'
BESZEL_TOKEN=
BESZEL_KEY=

# uptime kuma
UK_PORT=9000
UK_DATA=

#homepage
# its behind a reverse proxy so its fine
HP_ALLOWED_HOSTS=*
HP_CONFIG=

# homepage widgets
JELLYFIN_API_KEY=
BESZEL_USERNAME=
BESZEL_PASSWORD=
HOMEPAGE_VAR_KAVITA_API=
HOMEPAGE_VAR_TS_API_KEY=
HOMEPAGE_VAR_PORTAINER=

# caddy
CADDY_DATA=

# pihole
PIHOLE_PASSWORD=
DOMAIN=home.arpa

# kavita
KAVITA_CONFIG=
KAVITA_DATA=
KAVITA_PORT=

# Portainer
portainer_data=
