TZ=Africa/Nairobi
TAILSCALE_IP=
TS_AUTHKEY=
TS_UK_STATE=


# jellyfin
JELLYFIN_PORT=9096
JELLYFIN_CACHE=
JELLYFIN_CONFIG=
JELLYFIN_MEDIA=

# dozzle
dozzle_data=

# beszel
BESZEL_DATA=
BESZEL_PORT=8090

# beszel agent
BESZEL_LISTEN='45876'
BESZEL_TOKEN=
BESZEL_KEY=

# uptime kuma
UK_DATA=

#homepage
# its behind a reverse proxy so its fine
HP_ALLOWED_HOSTS=*
HP_CONFIG=

# homepage widgets
JELLYFIN_API_KEY=
BESZEL_USERNAME=
BESZEL_PASSWORD=
HOMEPAGE_VAR_KAVITA_API=
HOMEPAGE_VAR_TS_API_KEY=
HOMEPAGE_VAR_TS_ID=
HOMEPAGE_VAR_PORTAINER=

# caddy
CADDY_CONFIG=
CADDY_DATA=
DNS_EXIT_TOKEN=
DOMAIN=
EMAIL=

# pihole
PIHOLE_PASSWORD=
PIHOLE_DATA=
# DOMAIN=home.arpa

# kavita
KAVITA_CONFIG=
KAVITA_DATA=
KAVITA_PORT=

# Portainer
portainer_data=
