# Global Options
{
	# dns email
	email {$EMAIL}
}

# health check
:8080 {
	respond /health "OK" 200
}

# The Wildcard Block
*.{$DOMAIN}, {$DOMAIN} {
	tls {
		dns dnsexit {
			api_token {$DNS_EXIT_TOKEN}
		}
	}
	# Homepage
	@homepage host homepage.{$DOMAIN}
	handle @homepage {
		reverse_proxy homepage:3000
	}

	# Jellyfin
	@jellyfin host jellyfin.{$DOMAIN}
	handle @jellyfin {
		reverse_proxy jellyfin:8096
	}

	# Dozzle
	@dozzle host dozzle.{$DOMAIN}
	handle @dozzle {
		reverse_proxy dozzle:8080
	}

	# Beszel
	@beszel host beszel.{$DOMAIN}
	handle @beszel {
		reverse_proxy beszel:8090
	}

	# Uptime Kuma
	@uptime host uptime.{$DOMAIN}
	handle @uptime {
		reverse_proxy uptime-kuma:3001
	}

	# Pi-hole
	@pihole host pihole.{$DOMAIN}
	handle @pihole {
		reverse_proxy pihole:80
	}

	# Kavita
	@kavita host kavita.{$DOMAIN}
	handle @kavita {
		reverse_proxy kavita:5000
	}

	# Portainer
	@portainer host portainer.{$DOMAIN}
	handle @portainer {
		reverse_proxy portainer:9000
	}

	@linkding host linkding.{$DOMAIN}
	handle @linkding {
		reverse_proxy linkding:9090
	}

	# Fallback for undefined subdomains
	handle {
		abort
	}
}
